body{
    background-color: blueviolet;
}
.one{
    background-color: darkslateblue;
}

.two{
    background-color: darkslateblue;
}
h1{
    background-color: darkslateblue;
}
h2{
    background-color: darkslateblue;
}
p{
    background-color: darkslateblue;
}
